/* ---------MAIN-------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.titulo__index {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 16px; }
  .titulo__index .logoHome {
    width: 60vh;
    position: relative; }
  .titulo__index .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  .titulo__index .menu {
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    text-shadow: 2px 2px 4px #a0a0a0; }
    .titulo__index .menu :hover {
      text-decoration: underline;
      color: #747474;
      font-weight: 600;
      transition: all 0.2s; }
    .titulo__index .menu a {
      font-size: 20px;
      color: #ffffff; }

/* ---------FOOTER-------- */
.footer {
  padding: 15px;
  margin-top: 20px; }
  .footer p {
    font-family: 'Josefin Slab', serif;
    font-weight: 500;
    color: #ffffff;
    overflow: hidden; }
    .footer p span {
      color: #a10404;
      font-weight: 800; }
  .footer .redes-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0; }
    .footer .redes-container ul {
      margin: 0; }
      .footer .redes-container ul li {
        display: inline-block;
        margin: 0 5px;
        width: 40px;
        height: 40px;
        text-align: center; }
        .footer .redes-container ul li a {
          display: block;
          padding: 0 10px;
          background: #ffffff;
          color: #000000;
          line-height: 40px;
          font-size: 18px;
          box-shadow: 0 3px 5px 0 rgba(255, 255, 255, 0.4);
          transition: .2s; }
          .footer .redes-container ul li a:hover {
            transform: translatey(-5px) scale(1.05);
            color: #ffffff; }
        .footer .redes-container ul li:hover .facebook {
          background: #3D2DF9; }
        .footer .redes-container ul li:hover .instagram {
          background: #FB42A4; }
        .footer .redes-container ul li:hover .linkedin {
          background: #41A3FF; }

/* ---------INDEX-------- */
.body__home {
  background-image: url(../images/home/fondo-negro.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }
  .body__home .imgFuego {
    display: block;
    text-align: center;
    padding: 10px; }
    .body__home .imgFuego .rounded {
      border: solid 5px #ffffffef; }

/* ---------BIO-------- */
.tituloPage {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 4px #444444; }

.body__bio {
  background: black;
  background-image: url(../images/bio/fondo-bio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }
  .body__bio .bio__contenido {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .body__bio .bio__contenido .imagenBio {
      display: block;
      text-align: center;
      margin: 2.1%; }
      .body__bio .bio__contenido .imagenBio .img-fluid {
        border: solid 5px #ffffffef;
        border-radius: 10px;
        margin: 5px; }
    .body__bio .bio__contenido .bioText {
      font-family: 'Josefin Slab', serif;
      font-weight: 700;
      font-size: 1.2em;
      text-align: center;
      background-color: #ffffffad;
      border-radius: 10px;
      margin: 2.5%;
      padding: 2.5%;
      overflow: hidden; }
      .body__bio .bio__contenido .bioText .text-center {
        margin: auto; }

/* ----RECETAS----- */
.div-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center; }
  .div-container .div-items {
    text-align: center;
    position: relative;
    margin-bottom: 1rem;
    transition: 0.4s; }
    .div-container .div-items:hover img {
      filter: blur(0px); }
    .div-container .div-items .img-recetas {
      width: 400px;
      height: 300px;
      border-radius: 10px;
      background: #000000;
      object-fit: cover;
      filter: blur(3px);
      box-shadow: 0 0 10px  red; }
  .div-container .texto_rec {
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    color: #000000de;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
    opacity: 1;
    text-shadow: 3px 3px 4px #000000c2; }
    .div-container .texto_rec:hover {
      opacity: 0; }

/* ---------GALERIA-------- */
.body-contenedor .galeria-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px; }
  .body-contenedor .galeria-container .galeria-items {
    position: relative;
    overflow: hidden;
    border: solid 5px #ffffffef;
    border-radius: 10px; }
    .body-contenedor .galeria-container .galeria-items .galeria-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .3s; }
      .body-contenedor .galeria-container .galeria-items .galeria-img:hover {
        transform: scale(1.3); }

.body-contenedor .light-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0); }
  .body-contenedor .light-box:target {
    transform: scale(1); }
  .body-contenedor .light-box img {
    width: 80%;
    max-height: 90%;
    object-fit: contain; }
  .body-contenedor .light-box .close {
    display: block;
    position: absolute;
    font-size: 20px;
    top: 60px;
    right: 60px;
    color: #ffffff;
    background: #c30909;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    opacity: 1;
    text-decoration: none;
    text-align: center;
    line-height: 30px; }
  .body-contenedor .light-box .next {
    display: block;
    color: #c30909;
    width: 35px;
    height: 35px;
    font-size: 25px;
    margin: 10px;
    line-height: 30px;
    text-align: center; }

@media (min-width: 600px) {
  .body-contenedor .galeria-container {
    grid-template-columns: repeat(2, 1fr); }
    .body-contenedor .galeria-container .galeria-items:nth-child(3) {
      grid-row-start: span 3; }
    .body-contenedor .galeria-container .galeria-items:nth-child(4) {
      grid-row-start: span 3; }
    .body-contenedor .galeria-container .galeria-items:nth-child(7) {
      grid-row-start: span 2; }
    .body-contenedor .galeria-container .galeria-items:nth-child(8) {
      grid-row-start: span 2; }
    .body-contenedor .galeria-container .galeria-items:nth-child(9) {
      grid-column-start: span 2; } }

@media (min-width: 950px) {
  .body-contenedor .galeria-container {
    grid-template-columns: repeat(4, 1fr); }
    .body-contenedor .galeria-container .galeria-items:nth-child(1) {
      grid-row-start: span 2;
      grid-column-start: span 2; }
    .body-contenedor .galeria-container .galeria-items:nth-child(5) {
      grid-row-start: span 2;
      grid-column-start: span 2; }
    .body-contenedor .galeria-container .galeria-items:nth-child(9) {
      grid-row-start: span 2;
      grid-column-start: span 2; } }

/* ---------SERVICIOS-------- */
.titulo__servi {
  font-family: 'Josefin Slab', serif; }
  .titulo__servi .tituloPage {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px #444444; }
  .titulo__servi .div-contenedor {
    display: flex;
    justify-content: space-evenly; }
    .titulo__servi .div-contenedor .curso, .titulo__servi .div-contenedor .eventos, .titulo__servi .div-contenedor .asesor {
      background-color: #ffffffda;
      border-radius: 10px;
      margin: 15px; }
      .titulo__servi .div-contenedor .curso .icon, .titulo__servi .div-contenedor .eventos .icon, .titulo__servi .div-contenedor .asesor .icon {
        display: flex;
        justify-content: center;
        padding: 10px; }
      .titulo__servi .div-contenedor .curso .titulo1 .text-center, .titulo__servi .div-contenedor .eventos .titulo1 .text-center, .titulo__servi .div-contenedor .asesor .titulo1 .text-center {
        font-family: 'Playfair Display', serif;
        font-size: 2rem;
        font-weight: 500;
        padding: 10px; }
      .titulo__servi .div-contenedor .curso .textoServ, .titulo__servi .div-contenedor .eventos .textoServ, .titulo__servi .div-contenedor .asesor .textoServ {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        font-size: 1.2em; }
        .titulo__servi .div-contenedor .curso .textoServ p, .titulo__servi .div-contenedor .eventos .textoServ p, .titulo__servi .div-contenedor .asesor .textoServ p {
          text-align: center; }
        .titulo__servi .div-contenedor .curso .textoServ ul, .titulo__servi .div-contenedor .eventos .textoServ ul, .titulo__servi .div-contenedor .asesor .textoServ ul {
          list-style-position: inside; }
      .titulo__servi .div-contenedor .curso .text_medida, .titulo__servi .div-contenedor .eventos .text_medida, .titulo__servi .div-contenedor .asesor .text_medida {
        height: 415px; }
        @media (min-width: 1001px) and (max-width: 1200px) {
          .titulo__servi .div-contenedor .curso .text_medida, .titulo__servi .div-contenedor .eventos .text_medida, .titulo__servi .div-contenedor .asesor .text_medida {
            height: 500px; } }
      .titulo__servi .div-contenedor .curso .boton, .titulo__servi .div-contenedor .eventos .boton, .titulo__servi .div-contenedor .asesor .boton {
        text-align: center;
        width: 100%;
        padding: 15px;
        font-family: 'Playfair Display', serif; }
  @media screen and (max-width: 1000px) {
    .titulo__servi .div-contenedor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

/* ---------CONTACTO-------- */
.contacto__fondo {
  background: black;
  background-image: url(../images/contacto/fondo-contacto2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }
  .contacto__fondo .div__contenedor {
    display: flex;
    justify-content: flex-end; }
    .contacto__fondo .div__contenedor .formulario {
      background-color: #ffffff9f;
      margin: auto;
      padding: 5px;
      width: 40%;
      font-family: 'Josefin Slab', serif;
      font-weight: 700;
      font-size: 1.2em;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .contacto__fondo .div__contenedor .formulario {
          width: 100%;
          margin: 15px; } }
      .contacto__fondo .div__contenedor .formulario input, .contacto__fondo .div__contenedor .formulario textarea {
        background: #000000be;
        color: #ffffff;
        font-size: 1.2em; }
      .contacto__fondo .div__contenedor .formulario .boton_contacto {
        text-align: center;
        padding-bottom: 5px; }
    .contacto__fondo .div__contenedor .redes_sociales {
      width: 45%; }
      @media screen and (max-width: 768px) {
        .contacto__fondo .div__contenedor .redes_sociales {
          display: none; } }
      .contacto__fondo .div__contenedor .redes_sociales a {
        display: block;
        margin: 10px;
        line-height: 220px;
        text-align: center;
        font-size: 4em;
        color: #fff;
        transition: .2s; }
        .contacto__fondo .div__contenedor .redes_sociales a:hover {
          background: #ffffff; }
      .contacto__fondo .div__contenedor .redes_sociales .face_book {
        background: #1c41e6; }
      .contacto__fondo .div__contenedor .redes_sociales .face_book:hover {
        color: #1c41e6; }
      .contacto__fondo .div__contenedor .redes_sociales .ins_tagram {
        background: #FB42A4; }
      .contacto__fondo .div__contenedor .redes_sociales .ins_tagram:hover {
        color: #FB42A4; }
      .contacto__fondo .div__contenedor .redes_sociales .lin_kedin {
        background: #41A3FF; }
      .contacto__fondo .div__contenedor .redes_sociales .lin_kedin:hover {
        color: #41A3FF; }
      .contacto__fondo .div__contenedor .redes_sociales .e_mail {
        background: #2A935C; }
      .contacto__fondo .div__contenedor .redes_sociales .e_mail:hover {
        color: #2A935C; }

.body_recetas {
  background: url(../images/home/fondo-negro.jpg);
  background-color: #0000; }
  .body_recetas .imagen-superior {
    background: url(../images/panCampo.jpeg) no-repeat center center;
    background-size: cover;
    height: 250px;
    display: block; }
    @media screen and (max-width: 768px) {
      .body_recetas .imagen-superior {
        display: none; } }
  .body_recetas .receta-pan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: auto; }
    @media screen and (max-width: 768px) {
      .body_recetas .receta-pan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto; } }
    .body_recetas .receta-pan .ingrs-prep {
      background-color: #ffffffad;
      list-style-position: inside;
      font-family: 'Josefin Slab', serif;
      font-weight: 700;
      font-size: 1.2em;
      border-radius: 10px;
      margin: 2.5%;
      padding: 2.5%;
      text-align: left; }
      .body_recetas .receta-pan .ingrs-prep h2 {
        font-family: 'Playfair Display', serif;
        font-weight: 500;
        text-shadow: 2px 2px 4px #444444;
        padding: 10px;
        text-decoration: underline;
        text-align: center; }
  @media screen and (max-width: 768px) {
    .body_recetas {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto; } }
