* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.titulo__index {
  display: flex;
  justify-content: center;
  text-align: center; }
  .titulo__index .logoHome {
    width: 60vh;
    position: relative; }
  .titulo__index .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  .titulo__index .menu {
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    text-shadow: 2px 2px 4px #a0a0a0; }
    .titulo__index .menu :hover {
      margin: 0 2px 0 2px;
      text-decoration: underline;
      color: #747474;
      font-weight: 600;
      transition: all 0.5s;
      font-size: 25px; }
    .titulo__index .menu a {
      font-size: 20px;
      color: #ffffff; }

.footer {
  padding: 15px; }
  .footer p {
    font-family: 'Josefin Slab', serif;
    font-weight: 500;
    color: #ffffff;
    overflow: hidden; }
    .footer p span {
      color: #a10404;
      font-weight: 800; }
  .footer .redes-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0; }
    .footer .redes-container ul {
      margin: 0; }
      .footer .redes-container ul li {
        display: inline-block;
        margin: 0 5px;
        width: 40px;
        height: 40px;
        text-align: center; }
        .footer .redes-container ul li a {
          display: block;
          padding: 0 10px;
          background: #ffffff;
          color: #000000;
          line-height: 40px;
          font-size: 18px;
          box-shadow: 0 3px 5px 0 rgba(255, 255, 255, 0.4);
          transition: .3s; }
          .footer .redes-container ul li a:hover {
            transform: translatey(-5px) scale(1.05);
            color: #ffffff; }
        .footer .redes-container ul li:hover .facebook {
          background: #3D2DF9; }
        .footer .redes-container ul li:hover .instagram {
          background: #FB42A4; }
        .footer .redes-container ul li:hover .linkedin {
          background: #41A3FF; }

.body__home {
  background-image: url(../images/home/fondo-negro.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }
  .body__home .imgFuego {
    display: block;
    text-align: center;
    padding: 10px; }
    .body__home .imgFuego .rounded {
      border: solid 5px #ffffffef; }

.body__bio {
  background: black;
  background-image: url(../images/bio/fondo-bio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.tituloPage {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 4px #444444; }

.bio__contenido {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .bio__contenido .imagenBio {
    display: block;
    text-align: center; }
    .bio__contenido .imagenBio .img-fluid {
      border: solid 5px #ffffffef;
      border-radius: 10px;
      margin: 5px; }
  .bio__contenido .bioText {
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    background-color: #ffffff69;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden; }

/* ----RECETAS----- */
.card {
  width: 300px;
  height: 200px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative; }
  .card :hover {
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    transform: translateY(20px);
    opacity: 0.5; }

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px; }

.info {
  font-family: 'Josefin Slab', serif;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  color: black; }
  .info :hover {
    opacity: 1;
    transition: 0.3s; }

/*----Galeria----- */
.carrusel {
  width: 310px;
  margin: 0 auto 5px auto; }
  .carrusel .carousel-item {
    height: 500px; }
    .carrusel .carousel-item .img__gal {
      border-radius: 15px;
      border: solid #cabdbd; }
  .carrusel .carousel-control-prev,
  .carrusel .carousel-control-next {
    width: 20px;
    height: 20px;
    top: calc(50% - 25px);
    margin: 10px; }

/* ----SERVICIOS---- */
.titulo__servi {
  font-family: 'Josefin Slab', serif; }
  .titulo__servi .titulo1 {
    font-family: 'Playfair Display', serif; }
  .titulo__servi .icon {
    display: flex;
    justify-content: center;
    align-items: baseline; }
  .titulo__servi .textServ {
    padding: 5px; }
  .titulo__servi .boton {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    font-family: 'Playfair Display', serif; }
