.body__bio{
    background: black;
    background-image: url(../images/bio/fondo-bio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.tituloPage{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px #444444;
}

.bio__contenido{
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .imagenBio{
        display: block;
        text-align: center;
        
        
        .img-fluid{
            border: solid 5px #ffffffef;
            border-radius: 10px;
            margin: 5px;
        }
        
    }
    .bioText{
        font-family:'Josefin Slab', serif;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        background-color: #ffffff69;
        width: 500px;
        height: 400px;
        border-radius: 10px;
        margin: 10px;
        overflow: hidden;
    }
}

