.body__home{
    background-image: url(../images/home/fondo-negro.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    .imgFuego{
        display: block;
        text-align: center;
        padding: 10px;
        .rounded{
        border: solid 5px #ffffffef;
        }
    }
}

















