/* ----RECETAS----- */

.tituloPage{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px #444444;
}
.div-container{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    .div-items{
        text-align: center;
        position: relative;
        margin-bottom: 1rem;
        transition: 0.4s;
        &:hover img{
            filter: blur(0px);
        }
        .img-recetas{
            width: 400px;
            height: 300px;
            border-radius: 10px;
            background: #000000;
            object-fit: cover;
            filter: blur(3px);
            box-shadow: 0 0 10px  red;
            
        }
    }
        .text-center{
            font-family:'Josefin Slab', serif;
            font-weight: 700;
            color: #000000de;
            font-size: 2.5em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            transition: .2s;
            opacity: 1;
            text-shadow: 3px 3px 4px #e0e0e0cc;
            &:hover{
                opacity: 0;
            }
        }
    
}


