/* ----RECETAS----- */

.card{
	width: 300px;
	height: 200px;
	border-radius: 15px;
	padding: 1.5rem;
	background: white;
    position: relative;
        :hover{	
            display: flex;
            align-items: flex-end;
            transition: 0.4s ease-out;
            transform: translateY(20px);
            opacity: 0.5;
    }
}
    .card-img-top{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15px;
    }

.info{
    font-family:'Josefin Slab', serif;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    color: black;
        :hover{		
        opacity: 1;
        transition: 0.3s;
    }
}

