/* ---------SERVICIOS-------- */

.titulo__servi{
    font-family:'Josefin Slab', serif;
    .div-contenedor{
        display: flex;
        justify-content: space-evenly;
        .curso, .eventos, .asesor{
            background-color: #ffffffda ;
            border-radius: 10px;
            margin: 15px;
            .icon{
                display: flex;
                justify-content: center;
                padding: 10px;
            }
            .titulo1{
                .text-center{
                    font-family: 'Playfair Display', serif;
                    font-size: 2rem;
                    font-weight: 500;
                    padding: 10px;
                }
            }
            .textoServ{
            font-weight: 700;
            font-size: 1.2em;
                ul{
                    list-style-position: inside;
                }
            }
            .boton{
                text-align: center;
                width: 100%;
                padding: 10px;
                margin-bottom: 2px;
                font-family: 'Playfair Display', serif;
            }

        }
    }
    @media screen and (max-width: 1000px) {
        .div-contenedor{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
