/* ---------SERVICIOS-------- */

.titulo__servi{
    font-family:'Josefin Slab', serif;
    .tituloPage{
        font-family: 'Playfair Display', serif;
        font-weight: 500;
        font-size: 40px;
        text-align: center;
        color: #ffffff;
        text-shadow: 2px 2px 4px #444444;
    }
    .div-contenedor{
        display: flex;
        justify-content: space-evenly;
        .curso, .eventos, .asesor{
            background-color: #ffffffda ;
            border-radius: 10px;
            margin: 15px;
            .icon{
                display: flex;
                justify-content: center;
                padding: 10px;
            }
            .titulo1{
                .text-center{
                    font-family: 'Playfair Display', serif;
                    font-size: 2rem;
                    font-weight: 500;
                    padding: 10px;
                }
            }
            .textoServ{
                display: flex;
                flex-direction: column;
                
                align-items: center;
                font-weight: 700;
                font-size: 1.2em;
                p{
                    text-align: center;
                }
                ul{
                    list-style-position: inside;
                }
            }
            .text_medida{
                height: 415px;
                @media (min-width:1001px) and (max-width:1200px){
                    height: 500px;
                }
            }
            .boton{
                text-align: center;
                width: 100%;
                padding: 15px;
                font-family: 'Playfair Display', serif;
            }
        }
    }
    @media screen and (max-width: 1000px) {
        .div-contenedor{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
