/* ---------MAIN-------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import"_nav";
@import"_footer";
@import "_index";
@import "_bio";
@import "_recetas";
@import "_galeria";
@import "_servicios";
@import "_variable";

